body {
     background-color: aliceblue;
}
footer {
    background-color: black;
    color: aliceblue;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
footer{
    text-align: center;
    font-size: 0.6rem;
}